.container {
  margin: 0 auto;
  max-width: 80%;
}

img {
  margin: 0 auto;
}

.headline {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 3em;
  text-align: center;
  margin-top: 10px;
  font-weight: bolder;
}

.byline {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 1em;
  text-transform: uppercase;
  text-align: center;
}

.chapterheadline {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 2em;
  text-align: left;
  font-weight: bold;
}

.chaptertext {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  text-align: left;
  margin-bottom: 50px;
}

.caption {
  font-family: 'Montserrat', 'sans-serif';
  font-size: 1em;
  text-align: left;
  padding-bottom: 10px;
}

.row {
  margin-bottom: 50px;
  text-align: center;
}

.col-md-4 {
  text-align: center;
  margin: 0 auto;
}

.columntext {
  text-align: center;
  font-family: 'Montserrat', 'sans-serif';
  font-size: 1em;
}

footer {
  background-color: black;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-family: 'Montserrat', 'sans-serif';
}

/*tophat*/

.nav-logo {
  color: #fff;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
}

.red {
  color: #f23030;
}

.bg-dark {
  background-color: #000 !important;
}

/*splash*/

.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 20%;
  background: black;
  opacity: .7;
}

.hero-hed {
  padding-top: 10px;
  margin: 0 auto;
  font-size: 6em;
  font-family: 'Playfair Display', serif;
  padding-bottom: 10px;
  color: #fff;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-size: .25em;
}

/*pull quote */

.quote {
  font-family: 'Montserrat', sans-serif;
  color: #f23030;
  font-size: 3em;
  font-weight: 700;
  text-align: left;
  padding: 15px 0px 15px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote-attribution {
  font-size: .5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 180;
  text-align: left;
  color: #000;
}

@media screen and (max-width: 550px) {
  .hero-hed {
    font-size: 2em;
  }
}
