/*tophat*/

.nav-logo {
  color: #fff;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 750;
}

.bg-dark {
  background-color: #f23030 !important;
}

.black {
  color: #000;
}

/*splash*/

.hero-container {
  position: relative;
  text-align: center;
  color: white;
  font-weight: bold;
}

.hero-image {
  width: 100%;
  opacity: .5;
  z-index: 90;
}

.overlay {
  position: absolute;
  width: 80%;
  top: 20%;
  left: 10%;
  background: black;
  opacity: .7;
  margin: 0 auto;
}

.hero-hed {
  padding-top: 10px;
  margin: 0 auto;
  font-size: 5em;
  font-family: 'Merriweather', serif;
  padding-bottom: 10px;
  color: #fff;
}

.hero-sub {
  font-family: 'Montserrat', sans-serif;
  font-size: .25em;
}

.overlay-two {
  position: absolute;
  width: 10%;
  top: 50%;
  left: 45%;
  background: #f23030;
}

.hero-hed-two {
  padding: 10px;
  margin: 0 auto;
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

.top-caption {
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

a {
  color: #000;
}

/*container for everything below splash*/

.container {
  margin: 0 auto;
  max-width: 60%;
}

/*story text*/

#headline {
  font-family: 'Merriweather', serif;
  font-size: 2.5em;
  text-align: left;
  padding-top: 30px;
  font-weight: 900;
}

.byline {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  text-align: left;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 1em;
  text-align: left;
}

.subhead {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-align: left;
  font-weight: bolder;
  color: #f23030;
}

.attribution {
  font-family: 'Merriweather', serif;
  font-size: .9em;
  text-align: left;
  font-style: italic;
}

/*images*/

.image {
  max-width: 100%;
}

.caption {
  font-family: 'Montserrat', sans-serif;
  font-size: .7em;
  text-align: left;
  padding-bottom: 10px;
  padding-top: 10px;
}


/*pull quote */

.quote {
  font-family: 'Montserrat', sans-serif;
  color: #f23030;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding: 15px 0px 15px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e5e4e2;
  max-width: 80%;
  margin: 0 auto;
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

.quote-attribution {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 180;
  text-align: center;
  margin: 0 auto;
  color: #000;
  background-color: #e5e4e2;
  max-width: 80%;
  border-left: 1px solid red;
  border-right: 1px solid red;
  border-bottom: 1px solid red;
}

/*sidebar*/

.card {
  max-width: 80%;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}

.card-header {
  text-align: center;
  color: white;
  background-color: black;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
}

.card-item-beginning {
  font-weight: bold;
  color: #f23030;
}

.sidebar-attribution {
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
}

/*hyperlink states*/

a:link {
  color: #000;
}

a:visited {
  color: black;
}

a:hover {
  color: orange;
}


/*media queries*/

@media screen and (max-width: 600px) {
  .hero-container{
    max-width: 550px;
  }
  .hero-hed {
    font-size: 1em;
  }
  .overlay-two {
    top: 70%;
    width: 30%;
    left: 36%;
  }
  .quote {
    font-size: 1em;
  }
}
