/*Styling for tophat*/

.hero-container {
  max-width: 100%;
}

.hero-image {
  max-width: 100%;
  opacity: .5;
  z-index: 85;
}

.overlay {
  position: absolute;
  width: 80%;
  top: 15%;
  left: 10%;
  margin: 0 auto;
  text-align: center;
}

.hero-hed {
  font-family: "Playfair Display", serif;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: bolder;
}

.hero-sub {
  font-family: "Playfair Display", serif;
  font-size: 3em;
  font-weight: bold;
}

hr {
  color: #B6D0E2;
  background-color: #B6D0E2;
  border: solid 5px;
  height: 5px;
  width: 80%;
  margin: 0 auto;
  z-index: 100;
  opacity: 1;
}

.bi {
  z-index: 100;
  opacity: 1;
  top: 90%;
  font-size: 10em;
}

.banner-caption {
  font-family: "Playfair Display", serif;
  font-size: 0.8em;
  font-style: italic;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 100px;
  text-align: center;
}

/*End styling for tophat*/

/*Styling for links (including ones that are buttons)*/
/* unvisited link */
a:link {
  color: black;
}
/* visited link */
a:visited {
  color: black;
}
/* mouse over link */
a:hover {
  color: #B6D0E2;
}

/*Styling for container that wraps around everything below tophat*/

#container {
  max-width: 60%;
  margin: 0 auto;
}

/*Styling for headline*/

.headline {
  font-family: "Playfair Display", serif;
  padding-top: 30px;
  font-size: 3em;
}

/*Styling for byline*/

.byline {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bold;
  font-size: 1em;
}

/*Styling for date*/

.date {
  font-family: "Playfair Display", serif;
  font-size: 1em;
}


/*Styling for story text*/

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.1em;
}

/*Styling for graphics*/

.col-md-12 {
  padding: 10px;
  max-width: 87%;
  text-align: center;
  margin: 0 auto;
}

/*Styling for images*/

img {
  max-width: 100%;
  margin: 0 auto;
}


/*Styling for video*/

.video {
  max-width: 100%;
}

/*Styling for that one strange column of text next to the video*/

.col-md-3 {
  padding-left: 33px;
}

/*Styling for captions*/

.caption {
  font-family: "Playfair Display", serif;
  font-size: 0.8em;
  font-style: italic;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 5px;
  text-align: left;
}

.special-caption {
  font-family: "Playfair Display", serif;
  font-size: 0.8em;
  font-style: italic;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-top: 5px;
  text-align: center;
}

/*Styling for pull quote*/
.quote {
  font-family: "Playfair Display", serif;
  color: black;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding: 15px 0px 15px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  max-width: 80%;
  margin: 0 auto;
  border-top: 5px solid #B6D0E2;
}

.quote-attribution {
  font-size: 1em;
  font-family: "Playfair Display", sans-serif;
  font-weight: 180;
  text-align: center;
  margin: 0 auto;
  color: #000;
  background-color: white;
  max-width: 80%;
  border-bottom: 5px solid #B6D0E2;
  padding: 15px 0px 15px 0px;
}

/*Styling for sidebar with costs*/

.card {
  max-width: 80%;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}

.card-header {
  text-align: center;
  color: black;
  background-color: #B6D0E2;
}

.card-title {
  font-family: "Playfair Display", serif;
}

.card-item-beginning {
  font-weight: bold;
  color: #black;
}

.sidebar-attribution {
  font-style: italic;
  font-family: "Playfair Display", serif;
}

/*Styling for contributing line*/

.contributing {
  font-family: "Playfair Display", serif;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

/*Footer*/

.footer {
  background-color: #B6D0E2;
  text-align: center;
  font-family: "Playfair Display", serif;
}


/*Media queries*/

/* iPad size */
@media (max-width: 780px) {
  .overlay {
    top: 0%;
  }
  .hero-hed {
    font-size: 2.5em;
  }
  .hero-sub {
    font-size: 2em;
  }
  .bi {
    font-size: 2.5em;
  }
  .headline {
    font-size: 2em;
  }
  .video {
    width: 426px;
    height: 240px;
  }
  .quote {
    font-size: 1.5em;
  }
  .quote-attribution {
    font-size: 1em;
  }
}

/* iPhone size*/
@media (max-width: 575px) {
  .overlay {
    top: -10%;
  }
  .hero-hed {
    font-size: 2em;
  }
  .hero-sub {
    font-size: 1em;
  }
  .banner-caption {
    font-size: 0.5em;
  }
  .bi {
    font-size: 2em;
  }
  .headline {
    font-size: 1.5em;
  }
  .col-xl-3 {
    padding: 15px;
  }
  .video {
    width: 426px;
    height: 240px;
  }
  .quote {
    font-size: 1em;
  }
  .quote-attribution {
    font-size: 0.8em;
  }
}
