h1 {
  font-size: 30px;
  text-align: center;
  padding: 30px;
  font-family: "Helvetica", "sans-serif";
  text-transform: uppercase;
  font-weight: bold;
}

.graphic {
  margin: 0 auto;
  max-width: 80%;
  padding-bottom: 80px;
}
