
.navbar {
  font-family: "Lato", "sans-serif";
  color: #42331B;
  margin: 0 auto;
  text-align: center;
}

#masthead {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
}

#container {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.rounded-circle {
  float: right;
  max-width: 80%;
  margin-right: 50px;
}

h2 {
  font-family: "Merriweather", serif;
  font-size: 40px;
  text-align: left;
  color: #5F8575;
  font-weight: bold;
}

a {
  font-family: "Lato", "sans-serif";
  font-weight: bold;
}

.bi {
  font-size: 2em;
}

.sectionheader {
  font-family: "Merriweather", serif;
  font-weight: bold;
  color: #42331B;
  font-size: 28px;
}

.jobtitle {
  font-family: "Lato", "sans-serif";
  font-weight: bold;
  color: #5F8575;
  font-size: 23px;
}

.organization {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #42331B;
}

.date {
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #5F8575;
}

.description {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.do {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 15px;
}
